.intro {
  background: rgb(70, 70, 70);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 250;
}

.slider {
  background: #e8f380;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 100px;
}

.hide {
  background: rgb(70, 70, 70);
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}